body{
    /* area de tirar margem*/
    margin: 0; /* area de tirar margem padrão*/
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    height: 100px;
}
header ul {
    display: flex;
    margin-left: 800px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
header ul li {
    margin-left: 30px;
    margin-bottom: -10px;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover{
    color: antiquewhite;
}
.logo{
    display: flex;
    width: 30px;
    height: 30px;
}
.logo img{
    border-radius: 1000px;
    width: 100px;
    height: 99px;
    margin-left: 50px;
}
.logo h1{
    color: white;
    margin-left: 200px;
    margin-bottom: -45px;
}
/* section principal*/

.bg-inicio{
    width: 100%;
    background-image: url("https://i.ytimg.com/vi/8xQs8tEAFz4/maxresdefault.jpg");
    height: calc(100vh - 101px);
    background-position: center;
    background-size: cover;
}
.filtro{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: calc(100vh - 101px);
    padding-top: 1px;
}
.tittle{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 400px;
}
.tittle h1 {
    color: white;
    font-size: 100px;
}
.tittle h2 {
    color: white;
   
}
button{
    background-color: red;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: brown;
}
.button-inicio{
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.info{
    height: 600px;
   
}
.title-info{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.title-info h1{
    font-size: 50px;
}
.title-info h3{
    font-size: 30px;
    color: grey;
}
.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.texto .paragrafo p{
    width: 800px;
    margin-right: 200px;
}
.info .botao{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-top: -100px;
    margin-right: 1150px;

}
.img-info{
   margin-right: 150px;
}
.bg-black{
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.bg-black .title h1{
    color: white;
    font-size: 45px;
}
.bg-black .subtitle h2{
    margin-top: -40px;
    color: gray;
}
 
.bg-white{
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.bg-white .title h1{
    color: black;
    font-size: 60px;
}
.bg-white .subtitle h2{
    margin-top: -40px;
    color: gray;
}
.services{
    height: 300px;
    padding-top: 1px;
    height: calc(60vh - 100px);
    
}
.services .title{
    margin-top: -30px;
}

.img-teste {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    display: flex;
}
.img-teste img{
    margin-right: 200px;
    height: 175px;
    margin-top: 100px;
}
.area h1{
    margin-left: -150px;
    color: white;
}
.linha-vertical {
    color: white;
    height: 150px;
    border-left: 2px solid;
    margin-right: 150px;
 
}

.outralista{
    background-color: slategray;
    border-radius: 30px;
    width: 870px;
    height: 55px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.outralista ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 25px;

}
.outralista ul li{
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 20px;
    list-style: none;
}
.outralista ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700px;
    transition: color 0,3s;

}
.outralista ul li a:hover{
    color: rgb(4, 86, 168);
}
.photos{
    width: 100vw;
    max-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 500px;
}
.photo{
    width: 200px;
}
.photoarea{
    margin: 10px;
    width: 200px;
    height: 160px;
}
.photoarea img{
    width: inherit;
    height: inherit;
    display: flex;
    

}
.photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.photoinfo h5{
    font-size: 18px;
    font-weight: bold;
}
.photoarea:hover .photoinfo{
    display: flex;
}
.bg-black .OurProjects{
    height: 100px;
    margin-top: 500px;
}

.quadrados{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;

}

/* quadrado 1*/
.quadrado-branco1{
    background-color: white;
    width: 370px;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center; 

}

.img-kk img{
    height: 200px;
    border-radius: 900px;
    
}

/* quadrado 2*/
.quadrado-branco2{
    background-color: white;
    width: 370px;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center; 
    margin: 100px;
}

.img-kk img{
    height: 200px;
    border-radius: 900px;
    
}

/* quadrado 3*/
.quadrado-branco3{
    background-color: white;
    width: 370px;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center; 
}

.img-kk img{
    height: 200px;
    border-radius: 900px;
    
}

